<!-- 页脚版权信息 -->
<div class="container">
    <footer class="container footer" id="footer">
        <p>Copyright © 2014 FindiX Studio All Right Reserved.</p>

        <p>
            Developed by <a href="http://www.find1x.com/">FindiX寻未工作室</a>, Licensed under the <a
                    href="https://github.com/findix/WTFPL">WTFPL</a>, Version
            2.
        </p>

        <p>
            Powered By <a href="http://www.bootcss.com/" target="_blank"
                          title="Bootstrap中文网">Bootstrap</a> | <a
                    href="http://nodejs.org/"
                    target="_blank" title="Node.js"> Node.js </a> | <a
                    href="https://www.mongodb.org/‎" target="_blank" title="MongoDB">MongoDB</a>
            | <a href="http://expressjs.com/" target="_blank" title="Express">Express</a> |
            <a href="https://angularjs.org/" target="_blank" title="AngularJs">AngularJs</a> |
            <a target="_blank" title="socket.io" href="http://socket.io/">Socket.IO</a>
        </p>
    </footer>
</div>